.header-account {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;

    .styleable-account-icon-svg {
        width: auto;
        height: 2rem;
        margin-left: 1rem;
    }

    .menu {
        position: absolute;
        top: 3rem;
        left: -0.5rem;
        right: -0.5rem;
        padding: 1rem;
        background-color: var(--color-main-background);
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transform: translateY(2rem);
        transition: opacity 0.1s, transform 0.1s;
    }

    &.expanded {
        .menu {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
    }
}