.strategic-map-join {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 50%;
    inset: 0;
    margin: auto;
    padding: 5rem;
    opacity: 0;
    pointer-events: none;
    background-color: var(--color-main-background);
    transition: opacity 0.1s;

    &.expanded {
        opacity: 1;
        pointer-events: all;
    }

    input,
    button {
        margin-bottom: 0;
        margin-top: 1rem;
    }
}