.styleable-account-icon-svg {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    cursor: pointer;

    .neck {
        fill: transparent;
    }

    >*:not(.neck) {
        fill: var(--color-main-foreground);
        transition: fill 0.1s;
    }

    &:hover {
        >*:not(.neck) {
            fill: var(--color-theme);
        }
    }
}