.strategic-map-create {
    position: absolute;
    z-index: 2;
    inset: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 2rem;
    padding-bottom: 5rem;
    background-color: var(--color-main-background);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;

    &.expanded {
        opacity: 1;
        pointer-events: all;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        .left,
        .right {
            width: 45%;
        }
    }

    .input-field,
    .text-field {
        margin-top: 1rem;
        width: 100%;

        input,
        textarea {
            width: 100%;
        }
    }

    .button {
        position: absolute;
        bottom: 2rem;
    }
}