.header-navigation {
    margin-left: 4rem;
}

.header-navigation-link {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--color-main-foreground);
    background-image: linear-gradient(var(--color-theme),
            var(--color-theme));
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 0 100%;
    transition:
        background-size 0.1s ease,
        background-position 0.1s ease,
        color 0.1s;

    &:hover {
        background-size: 100% 100%;
        background-position: 0 100%;
        color: var(--color-white);
    }

    &.active {
        background-size: 100% 0.2rem;
        background-position: 0 100%;

        &:hover {
            background-size: 100% 100%;
            background-position: 0 100%;
        }
    }
}