.input-field {
    display: flex;
    position: relative;
}

.input-field-input {
    width: 20rem;
    height: 2rem;
    border: none;
    border-left: 0.25rem solid var(--color-main-foreground);
    padding-left: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    transition: border-left 0.1s;

    &:focus,
    &:focus-visible {
        border-left: 0.25rem solid var(--color-theme);
        outline: none;
    }

    &:hover {
        background-color: var(--color-lighter-light-gray);
    }
}

.input-field-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    width: 2.5rem;
    height: 2rem;
    background-color: var(--color-main-foreground);
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
        background-color: var(--color-theme);
    }
}

.input-field-preview {
    position: absolute;
    top: 2.5rem;
    width: 10rem;
    height: auto;
    background-color: var(--color-white);
    box-shadow: 0 4px 35px rgba(155, 155, 155, 0.4);
    opacity: 0;
    pointer-events: none;
    transform: translateY(2rem);
    transition: transform 0.1s;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &.visible {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
}

.input-field-preview-option {
    padding: 0.4rem;
    padding-left: 0.6rem;
    background-image: linear-gradient(var(--color-theme), var(--color-theme));
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position: 0 0;
    cursor: pointer;
    transition:
        background-size 0.1s ease,
        background-position 0.1s ease,
        color 0.1s;

    &:hover {
        background-size: 100% 100%;
        color: var(--color-white);
    }
}