.map-index-page {
    padding-top: 2rem;

    h1 {
        margin: 0;
    }

    h2 {
        margin-top: 0.5rem;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .options-bar {
        display: flex;
        margin-top: 3rem;
        margin-bottom: 1.5rem;

        &>* {
            margin-right: 1rem;
        }
    }

    .map-field {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 2rem;
        max-width: 100%;
    }
}

@media screen and (min-width: 1400px) {
    .map-field {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
}

@media screen and (min-width: 2000px) {
    .map-field {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
    }
}