.text-field {
    textarea {
        width: 15rem;
        height: 2rem;
        border: none;
        border-left: 0.25rem solid var(--color-main-foreground);
        padding: 0.5rem;
        font-family: "Raleway";
        font-size: 1.125rem;
        font-weight: 500;
        resize: none;
        transition: border-left 0.1s, background-color 0.1s;

        &:focus,
        &:focus-visible {
            border-left: 0.25rem solid var(--color-theme);
            outline: none;
        }

        &:hover {
            background-color: var(--color-hover-highlight);
        }

        &.resizable {
            resize: both;
        }
    }

    label {
        display: block;
        margin-bottom: 0.25rem;
    }

    &.has-info {
        textarea {
            padding-right: 2rem;
        }
    }

    .group {
        position: relative;
    }
}