.input-field {
    display: flex;
}

.input-field-input {
    width: 20rem;
    height: 2rem;
    border: none;
    border-left: 0.25rem solid var(--color-main-foreground);
    padding-left: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    transition: border-left 0.1s;

    &:focus,
    &:focus-visible {
        border-left: 0.25rem solid var(--color-theme);
        outline: none;
    }
}

.input-field-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    width: 2.5rem;
    height: 2rem;
    background-color: var(--color-main-foreground);
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
        background-color: var(--color-theme);
    }
}